<ion-view view-title="Discrete Mathematics at Somerville High School">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
<center> <h1 style="padding-top:1cm"> <u> Logic Exercises </h1> </u>
  <br>
  <h3> Please use the tab menu to the left and select a logic exercise. </h3>
    <br> <h4> <i> Ask Mr. Reidy if you need help completing the exercising. <br> It would be helpful if you had your symbol sheet in front of you while you completed each exercise. </i> </h4>


    <ul class="creatures" id="creatures">
      <li>
        <div class="click-anim">
          <figure class="hyper" style="background-color:#4ae9b8">

            <div class="eye"></div>
            <div class="eye"></div>
            <div class="mouth"></div>

          </figure>
        </div>
        <div class="shadow"></div>
      </li>

<div class="list card" >
  <style="font-family:Amatic SC"> This is Dave </style>
  </div>

  </ion-content>
</ion-view>
